<div class="contents row">
  <div class="container">
    <h3>新規投稿</h3>
    <%= form_with(model: @sneaker, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "sneaker" %>
      <%= form.text_field :image, placeholder: "" %>
      <%= form.text_area :detail, placeholder: "text", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>