<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        スニーカー詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <div class="card">
          <div class="card-image">
            <figure class="image is-5by4">
              <%= image_tag @sneaker.image, class: "sneaker-image " %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @sneaker.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>説明</th>
                </tr>
                <tr>
                  <td><%= simple_format @sneaker.detail %></td>
                </tr>
              </table>
              <% if @sneaker.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_sneaker_path(@sneaker), class: "button is-success" %>
                <p class="or-text">or</p>
                <%= link_to "削除", sneaker_path(@sneaker), method: :delete, class:"button is-success" %>
              <% end %>
            </div>

            <div class="container">
              <% if user_signed_in? && current_user.id != @sneaker.user_id %>
                <%= form_with(model: [@sneaker, @comment], local: true) do |f| %>
                  <%= f.text_area :content, placeholder: "コメントする", rows: "5" %>
                  <%= f.submit "SEND" %>
                <% end %>
              <% else %>
              <% end %>
            

              <div class="comments">
                <h4>＜コメント一覧＞</h4>
                  <% @comments.each do |comment| %>
                    <p>
                      <strong><%= link_to comment.user.username, "/users/#{comment.user_id}" %>：</strong>
                      <%= comment.content %>
                    </p>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
